.containerHome{
    margin: none;
    padding: none;
    width: 100%;
    height: auto;   
    background-color: rgb(199, 199, 199);
}
p.textLeft{
    animation-name: bodyLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-size: 30px;
    text-align: center;
    width: 250px;
    max-height: 100%;
    margin: 0;
    max-width: 35%;
    margin-top: 10%;
    position: absolute;
    background-color: rgb(199, 199, 199);
}

img.homepage{
    margin: none;
    height: 700px;
    width: 1150px;
    height: auto;  
    max-width: 100%;
    float: right;
}

img.mySlides {
    height: 700px;
    width: 1150px;
    float: right;
    max-width: 100%;
    transition: opacity 0.5s;
    position: absolute;
}

@keyframes bodyLeft{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0%);
    }
}


