/*This is the core CSS for the website, this is used in all of the pages*/
body{
    background-color: grey;
    padding: 0%;
    margin: 0%;
    overflow: auto;
}

.wrapper{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto;
}

a{
    margin: none;
    padding: none;
    max-width:none;
}

.container{
    display: flex;
    flex-direction: row;
    margin: none;
    max-width: 100%;
}

a.barItem{
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0%;
    margin-right: 5px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

a.barItem:hover{
    background-color: rgb(155, 155, 155);
}

img.links{
    max-height: 35px;
    max-width: 35px;
    margin: 5px;
}

img.links:hover{
    opacity: 25%;
}

#heading {
    animation-name: heading;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin: none;
    padding: none; 
    max-width: 200%;
    text-align:left;
    font-size: 80px;
    position: absolute;
    margin-top:none;
    text-decoration-color: darkgray;
}

#headingImage{
    width: 100%;
    height: 100%;
    margin: none;
    padding: none;
}
#headingContainer{
    margin:none;
    padding:none;
    height: 100px;
    max-width: 100%;
}
#navBar {
    float: left;
    background-color: rgb(61, 92, 150);
    width: 100%;
}

#foot {
    padding:5%;
    max-width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 45%;
    padding-right: 45%;
    text-align: center;
    background-color: rgb(61, 92, 150); 
    position: sticky;
}

@keyframes heading{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}