/*CSS for the contact page*/
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

a:hover{
    color: grey;
}

#contact{
    background-color: rgb(199, 199, 199);
    margin: 3%;
    padding: 5%;
    max-height: 100%;
    max-width: 100%;  
}

#contactPhoto{
    max-width: 500px;
    max-height: 500px;
    max-width: 90%;
    max-width: 90%;
    float: left;
}

.contactInfo{
    animation-name: contactInfo;
    animation-duration: 5s;
    font-size: 40px;
    text-align: left;
    max-width: 50%;
    float:inline-start;
    margin: 10%;
}

.contactLinks{
    margin: 40px;
    max-height: 200px;
    max-width: 200px;
}

@keyframes contactInfo{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}